.header {
  font-family: 'Faster One', cursive;
  color : white;
  background-color: #00BFFF;
  padding: 10px;
  height: 75px;
}

.home_header {
  font-family: 'Faster One', cursive;
  color : white;
  background-color: rgb(57, 57, 150);
  padding: 10px;
  height: 75px;
}
.font {
  font-family: 'Faster One', cursive;
  color : white;
}

img {
  width: 100%;
  height: 110%;
  z-index : -1;
  position: absolute; 
}

.form {
  position: relative;
  padding: 40px;
  bottom: 30px;
  width : 100%;
  height: 100%;
  float : right;  
}

.form-container {
  position: relative;
  top: 40px;
  float : right;
  margin-right : 50px;
  background-color: #00BFFF;
  padding: 20px;
  height: 400px;
  width: 40%;
}

.results{
  margin-left: 600px;
}
.subtitle {
  padding : 30px;
  font-family: 'Faster One', cursive;
  color : white;
}

.mydeck {
  margin-left : 60px;
  margin-right : 60px;
}

.create_card {
  padding: 50px;
  margin-left : 200px;
  margin-right: 200px;
}

.flash_card {
  padding : 60px;
  margin-left : 425px;  
}

